/* normalize */
*, *::after, *::before{margin:0;padding:0;box-sizing:border-box}

/* Переменный */
:root {
	/* color norm */
	--bag: #fff;
	--bag2: #F4F5F9;
	--red: #B90000;

	--tr: transparent;
	--trw: rgba(255,255,255,0);
	--trb: rgba(0,0,0,0);

	/* color white  */
	--wh: #fff;
	--wh05: rgba(255,255,255,.05);
	--wh1: rgba(255,255,255,.1);
	--wh2: rgba(255,255,255,.2);
	--wh3: rgba(255,255,255,.3);
	--wh4: rgba(255,255,255,.4);
	--wh5: rgba(255,255,255,.5);
	--wh6: rgba(255,255,255,.6);
	--wh7: rgba(255,255,255,.7);
	--wh8: rgba(255,255,255,.8);
	--wh9: rgba(255,255,255,.9);

	/* color black */
	--bl: #000000;
	--bl01: rgba(0,0,0,.01);
	--bl03: rgba(0,0,0,.03);
	--bl05: rgba(0,0,0,.05);
	--bl1: rgba(0,0,0,.1);
	--bl2: rgba(0,0,0,.2);
	--bl3: rgba(0,0,0,.3);
	--bl4: rgba(0,0,0,.4);
	--bl5: rgba(0,0,0,.5);
	--bl6: rgba(0,0,0,.6);
	--bl7: rgba(0,0,0,.7);
	--bl8: rgba(0,0,0,.8);
	--bl9: rgba(0,0,0,.9);

	/* color grey */
	--gr: #808080;
	--gr1: rgba(128,128,128,.1);
	--gr2: rgba(128,128,128,.2);
	--gr3: rgba(128,128,128,.3);
	--gr4: rgba(128,128,128,.4);
	--gr5: rgba(128,128,128,.5);
	--gr6: rgba(128,128,128,.6);
	--gr7: rgba(128,128,128,.7);
	--gr8: rgba(128,128,128,.8);
	--gr9: rgba(128,128,128,.9);

	/* color #1 */
	--cl: #67B2AD;
	--cl03: rgba(103,178,173,.03);
	--cl05: rgba(103,178,173,.05);
	--cl1: rgba(103,178,173,.1);
	--cl2: rgba(103,178,173,.2);
	--cl3: rgba(103,178,173,.3);
	--cl4: rgba(103,178,173,.4);
	--cl5: rgba(103,178,173,.5);
	--cl6: rgba(103,178,173,.6);
	--cl7: rgba(103,178,173,.7);
	--cl8: rgba(103,178,173,.8);
	--cl9: rgba(103,178,173,.9);

	/* color #2 */
	--cm: #0C1D51;
	--cm1: rgba(12,29,81,.1);
	--cm2: rgba(12,29,81,.2);
	--cm3: rgba(12,29,81,.3);
	--cm4: rgba(12,29,81,.4);
	--cm5: rgba(12,29,81,.5);
	--cm6: rgba(12,29,81,.6);
	--cm7: rgba(12,29,81,.7);
	--cm8: rgba(12,29,81,.8);
	--cm9: rgba(12,29,81,.9);


	/* box-shodow */
	--bx05: 0 15px 20px var(--bl05);
	--bx1: 0 15px 20px var(--bl1);
	--bx2: 0 15px 20px var(--bl2);
	--bx3: 0 15px 20px var(--bl3);
	--bx4: 0 15px 20px var(--bl4);
	--bx5: 0 15px 20px var(--bl5);
	--bx6: 0 15px 20px var(--bl6);
	--bx7: 0 15px 20px var(--bl7);
	--bx8: 0 15px 20px var(--bl8);
	--bx9: 0 15px 20px var(--bl9);
	/* box-shodow top */
	--bx_t1: 0 -4px 10px -4px var(--bl1);
	--bx_t2: 0 -4px 10px -4px var(--bl2);
	--bx_t3: 0 -4px 10px -4px var(--bl3);
	--bx_t4: 0 -4px 10px -4px var(--bl4);
	--bx_t5: 0 -4px 10px -4px var(--bl5);
	--bx_t6: 0 -4px 10px -4px var(--bl6);
	--bx_t7: 0 -4px 10px -4px var(--bl7);
	--bx_t8: 0 -4px 10px -4px var(--bl8);
	--bx_t9: 0 -4px 10px -4px var(--bl9);
	/* box-shodow bottom */
	--bx_b1: 0 4px 10px -4px var(--bl1);
	--bx_b2: 0 4px 10px -4px var(--bl2);
	--bx_b3: 0 4px 10px -4px var(--bl3);
	--bx_b4: 0 4px 10px -4px var(--bl4);
	--bx_b5: 0 4px 10px -4px var(--bl5);
	--bx_b6: 0 4px 10px -4px var(--bl6);
	--bx_b7: 0 4px 10px -4px var(--bl7);
	--bx_b8: 0 4px 10px -4px var(--bl8);
	--bx_b9: 0 4px 10px -4px var(--bl9);


	/* white box-shodow */
	--bxw1: 0 0 10px -2px var(--wh1);
	--bxw2: 0 0 10px -2px var(--wh2);
	--bxw3: 0 0 10px -2px var(--wh3);
	--bxw4: 0 0 10px -2px var(--wh4);
	--bxw5: 0 0 10px -2px var(--wh5);
	--bxw6: 0 0 10px -2px var(--wh6);
	--bxw7: 0 0 10px -2px var(--wh7);
	--bxw8: 0 0 10px -2px var(--wh8);
	--bxw9: 0 0 10px -2px var(--wh9);
	/* white box-shodow_t */
	--bxw_t1: 1px -4px 10px -4px var(--wh1);
	--bxw_t2: 1px -4px 10px -4px var(--wh2);
	--bxw_t3: 1px -4px 10px -4px var(--wh3);
	--bxw_t4: 1px -4px 10px -4px var(--wh4);
	--bxw_t5: 1px -4px 10px -4px var(--wh5);
	--bxw_t6: 1px -4px 10px -4px var(--wh6);
	--bxw_t7: 1px -4px 10px -4px var(--wh7);
	--bxw_t8: 1px -4px 10px -4px var(--wh8);
	--bxw_t9: 1px -4px 10px -4px var(--wh9);
	/* white box-shodow_b */
	--bxw_b1: 1px 4px 10px -4px var(--wh1);
	--bxw_b2: 1px 4px 10px -4px var(--wh2);
	--bxw_b3: 1px 4px 10px -4px var(--wh3);
	--bxw_b4: 1px 4px 10px -4px var(--wh4);
	--bxw_b5: 1px 4px 10px -4px var(--wh5);
	--bxw_b6: 1px 4px 10px -4px var(--wh6);
	--bxw_b7: 1px 4px 10px -4px var(--wh7);
	--bxw_b8: 1px 4px 10px -4px var(--wh8);
	--bxw_b9: 1px 4px 10px -4px var(--wh9);


	/* text-shodow */
	--tx1: 1px 4px 10px var(--bl1);
	--tx2: 1px 4px 10px var(--bl2);
	--tx3: 1px 4px 10px var(--bl3);
	--tx4: 1px 4px 10px var(--bl4);
	--tx5: 1px 4px 10px var(--bl5);
	--tx6: 1px 4px 10px var(--bl6);
	--tx7: 1px 4px 10px var(--bl7);
	--tx8: 1px 4px 10px var(--bl8);
	--tx9: 1px 4px 10px var(--bl9);
	/* text-shodow white */
	--txw1: 1px 4px 10px var(--wh1);
	--txw2: 1px 4px 10px var(--wh2);
	--txw3: 1px 4px 10px var(--wh3);
	--txw4: 1px 4px 10px var(--wh4);
	--txw5: 1px 4px 10px var(--wh5);
	--txw6: 1px 4px 10px var(--wh6);
	--txw7: 1px 4px 10px var(--wh7);
	--txw8: 1px 4px 10px var(--wh8);
	--txw9: 1px 4px 10px var(--wh9);


	--tm: .5s;
}

/* html - body */
html{}
html, body{
	position: relative;
	min-width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	scroll-behavior: smooth;
   -webkit-overflow-scrolling: touch;
   -webkit-font-smoothing: antialiased;
}
body{
	background: var(--bag);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: .5px;
	color: var(--bl);
}
.ovr_h{
	overflow: hidden;
	height: 100vh;
}
.app{
	position: relative;
	width: 100%;
	min-height: 100vh;
}



/*  */
::-webkit-scrollbar{
	width: 12px;
	height: 12px;
	background: var(--tr);
}
::-webkit-scrollbar-button{display:none}
::-webkit-scrollbar-thumb{
	background: var(--gr);
	border-radius: 12px;
	border: 2px solid var(--bag);
}
::-webkit-scrollbar-thumb:hover{background:var(--bl)}
::-webkit-scrollbar-track{background:var(--tr)}
::-webkit-scrollbar-track-piece{background:var(--tr)}
@media(max-width:1024px){::-webkit-scrollbar{display:none}}



/* css tag */
h1{font-size:42px}
h2{font-size:38px}
h3{font-size:32px}
h4{font-size:28px}
h5{font-size:24px}
h6{font-size:18px}
p{font-size:16px}
span{font-size:14px}
smail{font-size:12px}


input, textarea{
	outline: none;
	border: 1px solid var(--tr);
	height: 44px;
	border-radius: 10px;
}
::-moz-placeholder{color: var(--gr)}
::-webkit-input-placeholder{ color: var(--gr)}
::-ms-input-placeholder{color: var(--gr)}
::placeholder{color: var(--gr)}

a{text-decoration:none;color:var(--bl)}
a:focus{outline:1px auto var(--bl)}

ul, li{list-style:none}


/* css classes */
.posr{position:relative}

.dsp_n{display:none !important}
.dsp_b{display:block !important}

.txt_c{text-align:center}
.txt_r{text-align:right}

.txt_tu{text-transform:uppercase}










/*  */
.preload{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 9999;
	background: var(--bag);
	transition: var(--tm);
	opacity: 1;
}
.preloader_act{opacity:0}

.preload_c{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.preload_logo{
	position: relative;
	width: 160px;
	height: 160px;
	background: url('../img/logo/logo.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.preload_animate {
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	height: 100%;
	padding-top: 240px;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: load 1.2s infinite 0s ease-in-out;
	animation-direction: alternate;
	text-shadow: 0 0 1px white;
	color: var(--cl);
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
}












/* block center */
.bl_c{
	position: relative;
	width: 100%;
	margin: auto;
	padding: 0 40px;
	max-width: 1280px;
	z-index: 11;
}
@media(max-width:1024px){.bl_c{padding:0 30px}}
@media(max-width:500px){.bl_c{padding:0 20px}}
@media(max-width:360px){.bl_c{padding:0 15px}}


/*  */
.head_c{
	position: relative;
	width: 100%;
	padding: 120px 0;
	padding-bottom: 60px;
}
@media(max-width:768px){.head_c{padding-top:60px;padding-bottom:30px}}


.head_c p{
	position: relative;
	width: 100%;
	margin-top: 20px;
}


/*  */
.head_v1{
	position: relative;
	width: 100%;
}
.head_vt{
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
	color: var(--cl);
	margin-bottom: 15px;
}



/*  */
.head_ln{
	position: relative;
	width: 100%;
	margin-top: 15px;
}
@media(max-width:768px){.head_ln{display:none}}

.head_ln ul{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.head_ln li{
	color: var(--gr);
	font-size: 14px;
	margin-right: 10px;
}
.head_ln span{
	font-size: 11px;
	margin-right: 10px;
}
.head_ln a{color:var(--bl);transition:var(--tm)}
.head_ln a:hover{color:var(--cl)}


.head_star{
	position: relative;
	width: 100%;
}
.head_star i{
	color: var(--cl);
	font-size: 14px;
	padding: 0 1px;
}



.head_nb{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.head_nbi{
	position: relative;
	width: 74px;
	height: 74px;
	margin-right: 15px;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
@media(max-width:500px){.head_nbi{width:54px;height:54px}}




.head_share{
	position: absolute;
	top: 40px;
	right: 0;
	font-size: 24px;
	transform: rotate(-90deg);
}












/* кнопки */
.btn{
	position: relative;
	padding: 18px 32px;
	border-radius: 12px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	background: var(--cl);
	color: var(--wh);
	box-shadow: 0 15px 20px var(--cl4);
	transition: var(--tm);
	cursor: pointer;
	user-select: none;
	border: none;
	outline: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
@media(max-width:375px){.btn{font-size:14px}}
@media(max-width:320px){.btn{font-size:13px}}
.btn:hover{
	background: var(--cl8);
	text-shadow: var(--tx2);
}

.btn > span{text-transform:uppercase}
.btn > i{font-size:18px}
.btn > i:first-child{margin-right:10px}
.btn > i:last-child{margin-left:10px}

.btn_sqr{
	width: 54px;
	height: 54px;
	padding: 0;
	margin: 0;
	border-radius: 50%;
}

.btn_sqr2{
	width: 44px;
	height: 44px;
	padding: 0;
	margin: 0;
	border-radius: 50%;
}


.btn_bl2{
	border: 1px solid var(--bl);
	background: var(--tr);
	color: var(--bl);
	box-shadow: none;
}
.btn_bl2:hover{
	border-color: var(--cl);
	background: var(--tr);
	color: var(--cl);
}


.btn_whatsapp{
	background: #25D366;
	border-color: #25D366;
	box-shadow: 0 15px 20px rgba(37,211,102, .4);
}
.btn_whatsapp:hover{background:rgba(37,211,102, .8)}

.btn_back{
	background: var(--tr);
	border: none;
	color: var(--bl);
	box-shadow: none;
	font-size: 20px;
}
.btn_back:hover{
	color: var(--cl);
	background: var(--tr);
}





/*  */
.btn_img{
	position: relative;
	width: 30px;
	height: 100%;
	margin-left: 15px;
}
@media(max-width:320px){.btn_img{margin-left:5px}}

.btn_img div{
	position: absolute;
	width: 54px;
	height: 54px;
	bottom: 5px;
	right: -30px;

	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
}

.btn_img2{
	width: 20px;
	margin-left: 0px;
}
.btn_img2 div{
	bottom: 5px;
	right: -45px;
}







/* form setting */
.form_c{
	position: relative;
	width: 100%;
}
.form_im{
	position: relative;
	width: 100%;
	max-width: 768px;
	margin: auto;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
@media(max-width:500px){.form_im{margin-top:15px}}

.form_im_txt{
	position: relative;
	width: 100%;
	height: 54px;
	border-radius: 13.5px;
	border: 1px solid var(--bl2);
	background: var(--tr);
	color: var(--bl);
	padding: 0 34px;
	font-size: 16px;
	font-weight: 600;
	transition: var(--tm);
	user-select: none;
	outline: none;
}
.form_im_txt:focus{border-color:var(--bl5)}
.form_im_txt::placeholder{color:var(--bl5);font-weight:600;transition:var(--tm)}


.form_im p{
	width: 100%;
	margin-bottom: 10px;
}




/*  */
.form_imr{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.form_imr::after{display:none}
.form_imri{
	position: relative;
	width: calc(50% - 7.5px);
	height: 54px;
	margin-bottom: 15px;
	border-radius: 13.5px;
   border: 1px solid var(--wh1);
}
@media(max-width:500px){.form_imri{width:100%}}



/*  */
.radio, .check{
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 54px;
	padding: 0 15px;
	border-radius: 15px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
 	cursor: pointer;
 	transition: var(--tm);
}
.radio input, .check input{display:none}
.radio span, .check span{
  position: relative;
  display: block;
  font-size: 18px;
  height: 24px;
  line-height: 24px;
  padding-left: 39px;
  letter-spacing: .5px;
  transition: var(--tm);
}
.radio:hover span, .check:hover span{}

.radio span::before, .radio span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: block;
  background: var(--gr);
  transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.radio span::before{}
.radio span::after {
	width: 22px;
	height: 22px;
	top: 1px;
	left: 1px;
	background: var(--wh);
	transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
.radio:hover span::before{transform:scale(0.9)}
.radio:hover span::after{transform:scale(0.7)}
.radio input:checked + span::before {
  transform: scale(1.05);
  background: var(--cl);
}
.radio input:checked + span::after {
  transform: scale(0.5);
  transition: transform 0.3s ease;
}
.radio:hover input:checked + span::after{transform:scale(0.4)}






/*  */
.form_date{
	position: relative;
	width: 100%;
	height: 54px;
	border-radius: 13.5px;
	border: 1px solid var(--bl2);
	background: var(--tr);
	color: var(--bl);
	padding: 0 34px;
	font-size: 16px;
	font-weight: 600;
	transition: var(--tm);
	user-select: none;
	outline: none;
}



.form_kl{
	position: relative;
	width: 100%;
	height: 54px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.form_klb{
	position: absolute;
	top: 0;
	left: 0;
	width: 54px;
	height: 54px;
}
.form_klb2{
	left: auto;
	right: 0;
}
.form_kln{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 54px;
	border-radius: 13.5px;
	background: var(--tr);
	color: var(--bl);
	padding: 0 54px;
	font-size: 16px;
	font-weight: 600;
	transition: var(--tm);
	user-select: none;
	outline: none;
}










/*  */
.swiper-container {
	position: relative;
	width: 100%;
}
.swiper-slide{position:relative}
.swiper-pagination .swiper-pagination-bullet-active{background:var(--wh7)}




/*  */
.bl_mess{
	position: fixed;
	width: 100%;
	top: -260px;
	left: 0;
	z-index: 910;
	opacity: 0;
	transition: .5s;
	display: flex;
	justify-content: center;
}
.bl_mess_zak{top:0;opacity:1}
.bl_mess_sam{
	display: inline-block;
	margin-top: 30px;
	padding: 20px 30px;
	border-radius: 13.5px;
	background: var(--bag);
	box-shadow: var(--bx2);
	transition: var(--tm);
}










/*  */
.header{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 910;
	width: 100%;
	height: 124px;
}
.header_wh{}
@media(max-width:768px){.header{height:74px}}
	
.header .bl_c{height:100%}
.header_c{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header_l{
	position: relative;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.logo{
	position: relative;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.logo_i{
	position: relative;
	width: 64px;
	height: 64px;
	background-size: auto 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
@media(max-width:500px){.logo_i{width:44px;height:44px}}


/*  */
.cmenu{
	position: relative;
	height: 100%;
	margin-left: 60px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
@media(max-width:1024px){.cmenu{display:none}}
.cmenu a{margin:0 15px}
.cmenu_i{color:var(--bl);transition:var(--tm)}
.header_wh .cmenu_i{color:var(--wh)}
.header .cmenu_i:hover{color:var(--cl)}


/*  */
.header_r{
	position: relative;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.lang{
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.lang_i, .lang_ia{
	position: relative;
	margin: 0 15px;
	color: var(--bl);
	transition: .5s;
}
.header_wh .lang_ia{color:var(--wh)}
.header .lang_i{color:var(--gr)}
.header .lang_ia:hover{color: var(--cl)}
@media (max-width: 768px) {
	.lang_i, .lang_ia{
		font-size: 18px;
		font-weight: 600;
		margin: 0 10px;
	}
	.lang_i:last-child, .lang_ia:last-child{margin-right:0}
}

.lang span:last-child{display:none}
@media(max-width:500px){
	.lang span:last-child{display:inline}
	.lang span:first-child{display:none}
}


/*  */
.phone_nm{
	position: relative;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: 45px;
	transition: .5s;
	color: var(--bl);
}
@media(max-width:768px){.phone_nm{display:none}}
.header_wh .phone_nm{color:var(--wh)}
.header .phone_nm:hover{color:var(--cl)}


/* menu */
.menu{
	position: relative;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: none;
	margin-left: 30px;
}
@media(max-width:500px){
	.menu{
		display: flex;
	}
}

.menu_bars {
	position: relative;
	padding: 15px 20px;
	border-radius: 14px;
	transition: 0.2s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.menu_act{}
.menu:hover .menu_bars{background:var(--cm1)}
@media(max-width:500px){
	.menu_bars{
		cursor: auto;
		width: 54px;
		height: 54px;
		padding: 0;
	}
}

.menu_bars_i {position:relative}
.menu_act .menu_bars_i {transform:rotate(-45deg)}
.menu_bars_i, .menu_bars_i::before, .menu_bars_i::after {
	width: 28px;
	height: 2px;
	border-radius: 2px;
	background-color: var(--bl);
	transition: 0.2s ease-in-out;
}
.header_wh .menu_bars_i, .header_wh .menu_bars_i::before, .header_wh .menu_bars_i::after{background-color:var(--wh)}

.menu_bars_i::before, .menu_bars_i::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	will-change: transform;
}
.menu_bars_i::before{transform:translateY(-8px)}
.menu_bars_i::after{transform:translateY(8px)}
.menu_act .menu_bars_i::before, .menu_act .menu_bars_i::after {transform:translateX(0) rotate(-90deg)}



/*  */
.menu_c{
	position: absolute;
	right: -50px;
	top: 89px;
	width: 300px;
	border-radius: 18px;
	background: var(--wh);
	transition: .5s;
	-webkit-box-shadow: 4px 10px 84px rgb(0 0 0 / 5%);
   box-shadow: 4px 10px 84px rgb(0 0 0 / 5%);
	opacity: 0;
	visibility: hidden;
	overflow-x: hidden;
}
.menu_act .menu_c{
	opacity:1;
	visibility:visible;
	right: 0;
}

.menu_ci{
	position: relative;
	width: 100%;
	min-height: 54px;
	padding: 0 30px;
	border-bottom: 1px solid var(--gr1);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	transition: .3s;
	cursor: pointer;
}
.menu_ci:first-child{
	height: calc(54px + 10px);
	padding-top: 10px;
}
.menu_ci:last-child{
	height: calc(54px + 10px);
	padding-bottom: 10px;
	border-bottom: 0;
}
.menu_ci:hover{
	background: var(--cm1);
	border-bottom-color: var(--tr);
}

.menu_cin{
	position: relative;
	width: 34px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
}
.menu_cih{
	position: relative;
	width: calc(100% - 34px - 15px);
	margin-left: 15px;
	font-size: 16px;
}

.menu_cih span{
	position: relative;
	width: 22px;
	min-width: 22px;
	height: 22px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	border-radius: 50%;
	background: var(--cm);
	color: var(--wh);
	margin-left: 10px;
	padding-top: 1px;
	padding-right: 1px;
}






/*  */
.footer{
	position: relative;
	width: 100%;
	padding-top: 60px;
	background: var(--wh);
	color: var(--bl);
}
@media(max-width:1024px){.footer{padding-bottom:74px}}
@media(max-width:768px){.footer{padding-top:0}}

.foot_c{
	position: relative;
	width: 100%;
	padding-bottom: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
@media(max-width:768px){.foot_c{flex-direction:column;padding-bottom:30px}}
.foot_i{position:relative}
@media(max-width:768px){.foot_i{margin-bottom:45px}}

.foot_logo{position:relative}
.foot_logo a{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
@media(max-width:768px){.foot_logo a{flex-direction:column}}

.logo_con{
	position: relative;
	width: 54px;
	height: 54px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;	
}
@media(max-width:768px){.logo_con{width:96px;height:96px}}

.logo_txt{position:relative;margin-left:15px}
@media(max-width:768px){.logo_txt{margin-left:0;margin-top:15px}}

/*  */
.foot_i .bl1_sos{
	position: relative;
	bottom: auto;
	right: auto;
}
.foot_i .bl1_sos .bl1_si{color:var(--bl)}
.foot_i .bl1_sos .bl1_si:hover{color:var(--cl)}

/*  */
.foot_n{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
}
.foot_n a{
	font-size: 18px;
	font-weight: 600;
	color: var(--bl);
	transition: var(--tm);
}
.foot_n a:hover{color:var(--cl)}
.foot_n span{margin-top:5px;font-size:11px;color:var(--cl)}



/*  */
.footer_b{
	position: relative;
	width: 100%;
	padding: 60px 0;
	padding-top: 45px;

	border-top: 1px solid var(--bl1);

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
@media(max-width:768px){.footer_b{flex-direction:column}}

.footer_bi{
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
@media(max-width:768px){.footer_bi{width:100%;padding-bottom:45px;justify-content:center;border-bottom: 1px solid var(--bl1)}}

.footer_bi2{
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
@media(max-width:768px){.footer_bi2{flex-direction:column-reverse;margin-top:30px}}

.footer_bic{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
	font-size: 14px;
	margin-right: 15px;
}
@media(max-width:768px){.footer_bic{align-items:center;margin-right:0}}
.footer_bici span{margin-right:5px}
.footer_bici a{
	color: var(--bl);
	transition: var(--tm);
}
.footer_bici a:hover{color:var(--cl)}
.footer_bici2{margin-top:5px}
@media(max-width:768px){.footer_bici2{margin-top:15px}}
.footer_bici2 a{
	font-size: 16px;
	font-weight: 600;
	text-decoration: underline;
}
.footer_bim{
	position: relative;
	width: 54px;
	height: 54px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;	
}
@media(max-width:768px){.footer_bim{width:74px;height:74px}}













/*  */
.pop_bl{
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: var(--tm);
	visibility: hidden;
}
@media(max-width:500px){.pop_bl{align-items:flex-end}}

.pop_bl_act{visibility:visible;opacity:1}

/*  */
.pop_bl_a{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: var(--bl2);
	backdrop-filter: blur(3px);
	transition: var(--tm);
	transition-delay: var(--tm);
	opacity: 0;
}
.pop_bl_act .pop_bl_a{opacity:1}

/*  */
.pop_bl_c{
	position: relative;
	width: calc(100% - 80px);
	max-width: 768px;
	padding: 60px 80px;
	border-radius: 40px;
	z-index: 2;
	transform: translateY(100%);
	transition: .5s;
	background: var(--bag);
}
@media(max-width:768px){.pop_bl_c{padding:60px 40px}}
@media(max-width:500px){
	.pop_bl_c{
		width: 100%;
		padding: 60px 30px;
		border-radius: 30px 30px 0 0;
	}
}
@media(max-width: 425px){
	.pop_bl_c{
		padding: 40px 20px;
		border-radius: 20px 20px 0 0;
	}
}
@media(max-width: 375px){
	.pop_bl_c{
		padding: 30px 15px;
		border-radius: 15px 15px 0 0;
	}
}
@media(max-width: 320px){.pop_bl_c{padding:20px 10px}}


.pop_bl_c::after{
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: auto;
	width: 40px;
	height: 5px;
	border-radius: 5px;
	background: var(--bl1);
	display: none;
}
@media(max-width:500px){.pop_bl_c::after{display:block}}



.pop_bl_act .pop_bl_c{transform:translateY(0)}
.pop_bl_c .head_c{padding:0;padding-bottom:30px}
.pop_bl_c .form_c .btn{width:100%}

.pop_bl_cl{
	position: relative;
	width: 100%;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}



/*  */
.pop_bl_share{
	position: relative;
	width: 100%;
}
.pop_bl_share .head_c{padding-bottom:30px}

.pop_bl_share_c{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pop_bl_share_c a{
	position: relative;
	width: calc(100% / 4 - 20px * 2 / 3);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.pop_bl_share_c div{
	position: relative;
	width: 54px;
	height: 54px;
	font-size: 20px;
	margin-bottom: 5px;
   background: radial-gradient(circle, var(--bl03) 50%, var(--tr) 100%);
   border-radius: 50%;
	color: var(--bl8);
	display: flex;
	justify-content: center;
	align-items: center;
}
.pop_bl_share_c span{font-size:11px}


.pop_bl_share_b{
	position: relative;
	width: 100%;
	margin-top: 30px;
}
.pop_bl_share_b .btn{width:100%}







/*  */
.callback{}
@media(max-width:500px){
	.callback{
		position: fixed;
		bottom: -74px;
		left: 0;
		width: 100%;
		height: 188px;
		transform: translateY(70px);
		padding-bottom: 144px;
		z-index: 999;
		transition: .4s;
		-webkit-overflow-scrolling: touch;
		background: var(--bag);
		box-shadow: var(--bx_t2);
	}
	/* .tabs_act, .tabs_acts{bottom:-74px} */

	.callback a{
		position: absolute;
		display: block;
		left: 0;
		top: 0;
		width: 50%;
		height: 44px;
	}
	.callback a:last-child{
		left: auto;
		right: 0;
	}
}


.callback-bt, .callback-btw{
	position: fixed;
	right: 30px;
	bottom: 30px;
	height: 72px;
	width: 72px;
	z-index: 9999;

	background:var(--cl);
	box-shadow:var(--bx3);
	border:1px solid var(--cl);
	border-radius:50%;
	transition:.3s;
	cursor:pointer;

	display: flex;
	justify-content: center;
	align-items: center;
	
	animation:hoverWave linear 1s infinite;
}
.callback-bt{display:none}
.callback-btw{
	background:#25D366;
	border: 0;
	box-shadow: var(--bx_b2);
}
.callback-bt:hover, .callback-btw:hover{
	background:#fff;
	transition:.3s;
}
@media(max-width:500px){
	.callback-bt, .callback-btw{
		position: relative;
		width: 100%;
		height: 100%;
		bottom: auto;
		right: auto;
		display: flex;

		animation: none;
		border-radius: 0;
	}
	.callback-bt:hover{
		background:var(--cl);
	}
	.callback-btw:hover{
		background:#25D366;
	}
}




.callback-bt i, .callback-btw i{
	color:#fff;
	font-size:34px;
	transition:.3s;
	line-height: 66px;
	transition: .5s ease-in-out;
	animation: 1200ms ease 0s normal none 1 running shake;
	animation-iteration-count: infinite;
}
.callback-bt:hover i, .callback-btw:hover i{
	color:var(--cl);
}
@media(max-width:500px){
	.callback-bt i, .callback-btw i{
		font-size: 18px;
		animation: none;
   	}
	.callback-bt:hover i, .callback-btw:hover i{
		color:var(--wh);
	}
}

.callback-bt span, .callback-btw span{
	display: none;
}
@media(max-width:500px){
	.callback-bt span, .callback-btw span{
		display: inline-block;
		font-size: 14px;
		margin-left: 12px;
		color: var(--wh);
	}
}



















/* block 1 */
.bl1{
	position: relative;
	width: 100%;
	height: 100vh;
	min-height: 580px;
	transition: .5s;
	background: var(--wh);
}
@media (max-width: 500px) {
	.bl1{
		height: 680px;
	}
}

.bl1_a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: .5s;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.bl1_a::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--bl7);
}



.bl1 .bl_c{height:100%}
.bl1_c{
	position: relative;
	width: 100%;
	height: 100%;
	transition: var(--tm);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}
@media(max-height:680px){.bl1_c{padding-top:60px}}

/*  */
.bl1_offer, .bl1_offer2{
	width: 100%;
	color: var(--wh);
}
.bl1_offer h1, .bl1_offer2 h1{font-size:52px;font-weight:800}
@media(max-width:768px){.bl1_offer h1{font-size:42px}}
@media(max-width:500px){.bl1_offer h1{font-size:26px}}
@media(max-width:375px){.bl1_offer h1{font-size:24px}}
@media(max-width:360px){.bl1_offer h1{font-size:22px}}
@media(max-width:320px){.bl1_offer h1{font-size:20px}}


/*  */
.bl1_disc{
	width: 100%;
	margin: 0 auto;
	margin-top: 45px;
	color: var(--wh);
}
@media(max-width:500px){.bl1_disc{margin-top:30px}}

.bl1_disc p{font-size:26px;font-weight:500}
@media(max-width:768px){.bl1_disc p{font-size:20px}}
@media(max-width:500px){.bl1_disc p{font-size:14px}}
@media(max-width:375px){.bl1_disc p{font-size:13px}}
@media(max-width:320px){.bl1_disc p{font-size:12px}}


/*  */
.bl1_btn{
	position: relative;
	width: 100%;
	margin-top: 45px;
}
@media(max-width:500px){.bl1_btn{padding-bottom:60px;margin-top:30px}}

.bl1_btn_a{
	position: absolute;
	display: inline;
	top: 90px;
	left: 60px;
	font-size: 14px;
	font-weight: 400;
	color: var(--wh7);
	min-width: 260px;
	text-align: left;
	text-transform: underline;
}
@media(max-width:500px){.bl1_btn_a{font-size:12px}}

.bl1_btn_ab{
	position: absolute;
	top: -25px;
	left: -50px;
	width: 50px;
	height: 50px;
	background-size: auto 100%;
	background-position: center center;
	background-repeat: no-repeat;
	opacity: .8;
}


/*  */
.bl1_bs{
	position: absolute;
	bottom: 30px;
	color: var(--wh7);
	transition: var(--tm);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.bl1_bs:hover{color:var(--cl)}
@media(max-width:768px){.bl1_bs{bottom:20px}}
.bl1_bsi{
	position: relative;
	font-size: 20px;
}
.bl1_bst{margin-left:10px}



/*  */
.bl1_sos{
	position: absolute;
	right: 0;
	bottom: 30px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
@media(max-width:768px){.bl1_sos{bottom:20px}}

.bl1_si{
	margin: 0 15px;
	font-size: 24px;
	color: var(--wh);
	transition: var(--tm);
}
.bl1_si:hover{color:var(--cl)}
@media(max-width:500px){.bl1_si{font-size:20px}}







/* block 7 */
.bl7{
	position: relative;
	width: 100%;
	padding-bottom: 60px;
}
.bl7 .head_c{padding-top:60px}

.bl7_c{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.bl7_i{
	position: relative;
	width: calc(33.3333% - 20px);
	border-radius: 30px;
	padding: 30px 45px;
	box-shadow: var(--bx1);

	text-align: center;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}
@media(max-width:768px){.bl7_i{width:100%;margin-bottom:30px}}
@media(max-width:500px){.bl7_i{padding:30px 20px;margin-bottom:20px}}
@media(max-width:375px){.bl7_i{padding:30px 15px;margin-bottom:15px}}

.bl7_img{
	position: relative;
	width: 164px;
	height: 164px;
	margin: auto;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.bl7_in{margin-top:30px}
.bl7_it{margin-top:15px}



.bl7_b{
	position: relative;
	width: 100%;
	margin-top: 30px;
	border-radius: 30px;
	padding: 30px 45px;
	box-shadow: var(--bx05);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media(max-width:768px){.bl7_b{margin-top:0}}
@media(max-width:768px){.bl7_b{flex-direction:column}}
@media(max-width:500px){.bl7_b{padding:30px 20px}}
@media(max-width:375px){.bl7_b{padding:30px 15px}}

.bl7_b p{}
@media(max-width:768px){.bl7_b p{margin-bottom:20px;text-align:center}}







/* block 2 */
.bl2{
	position: relative;
	width: 100%;
	background: var(--bag2);
	padding-bottom: 60px;
}
.bl2 .head_c{padding-top:80px}

.bl2_con{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.bl2_i{
	position: relative;
	width: calc(50% - 15px);
	margin-bottom: 30px;
	padding: 30px 45px;
	border-radius: 30px;
	border: 1px solid var(--bl1);
	overflow: hidden;
}
@media(max-width:768px){.bl2_i{width:100%}}
@media(max-width:500px){.bl2_i{padding:30px;text-align:center}}
@media(max-width:320px){.bl2_i{padding:30px 15px;margin-bottom:15px}}

.bl2_img{
	position: relative;
	width: 54px;
	height: 54px;
	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
}
@media(max-width:500px){.bl2_img{margin:auto}}

.bl2_l{
	position: relative;
	width: 100%;
	margin-top: 15px;
}
.bl2_r{
	position: relative;
	width: 100%;
	margin-top: 15px;
}


.bl_raz{
	position: relative;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	color: var(--cl);
	margin-top: 15px;
	text-transform: uppercase;
}
.bl_raz::after, .bl_raz::before{
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	left: -230px;
	width: 215px;
	height: 1px;
	background: var(--bl1);
}
.bl_raz::before{
	left: auto;
	right: -230px;
	opacity: 0;
}
@media(max-width:500px){.bl_raz::before{opacity:1}}




.bl2_b{
	position: relative;
	width: 100%;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media(max-width:768px){.bl2_b{flex-direction:column}}

.bl2_b p{}
@media(max-width:768px){.bl2_b p{margin-bottom:20px;text-align:center}}




























/* block 8 */
.bl8{
	position: relative;
	width: 100%;
	transition: var(--tm);
	padding-bottom: 60px;
}
.bl8 .head_c{padding-top:80px}
@media(max-width:768px){.bl8 .head_c{padding-top:60px}}

.bl8_r{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.bl8_rsi{
	position: relative;
	width: calc(100% / 3 - 30px * 2 / 3);
	padding: 30px 45px;
	border-radius: 30px;
	box-shadow: var(--bx05);
	text-align: center;
}
@media(max-width:768px){.bl8_rsi{width:100%;margin-bottom:30px}}
@media(max-width:500px){.bl8_rsi{padding:30px 20px}}
@media(max-width:375px){.bl8_rsi{padding:30px 15px}}
@media(max-width:360px){.bl8_rsi{padding:20px 15px}}
@media(max-width:320px){.bl8_rsi{padding:15px}}

.bl8_rsi h4{margin-bottom:15px}


.bl8_c{
	position: relative;
	width: 100%;
	padding: 30px 45px;
	border-radius: 30px;
	box-shadow: var(--bx05);
	margin-top: 60px;
}
@media(max-width:768px){.bl8_c{margin-top:0}}
@media(max-width:500px){.bl8_c{padding:30px 20px}}
@media(max-width:375px){.bl8_c{padding:30px 15px}}
@media(max-width:360px){.bl8_c{padding:20px 15px}}
@media(max-width:320px){.bl8_c{padding:15px}}

.bl8_c .head_c{
	padding: 30px 0;
	padding-top: 10px;
	text-align: center;
}
@media(max-width:500px){.bl8_c .head_c{padding-top:0}}

.bl8_l{position:relative;width:100%}



.bl8_b{
	position: relative;
	width: 100%;
	padding: 30px 45px;
	border-radius: 30px;
	box-shadow: var(--bx05);
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
@media(max-width:768px){.bl8_b{margin-top:30px}}
@media(max-width:500px){.bl8_b{padding:30px 20px}}
@media(max-width:375px){.bl8_b{padding:30px 15px}}
@media(max-width:360px){.bl8_b{padding:20px 15px}}
@media(max-width:320px){.bl8_b{padding:15px}}

.bl8_bl{
	position: relative;
	width: calc(50% - 30px);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
@media(max-width:1024px){.bl8_bl{width:100%;justify-content:center}}

.bl8_bi{
	position: relative;
	width: 74px;
	height: 74px;
	font-size: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bl8_b .form_c{
	position: relative;
	width: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.bl8_b .form_c .form_im{margin-top:0}
.bl8_b .form_im_txt{padding:0 15px 0 0;text-align:center}
@media(max-width:1024px){.bl8_b .form_c{width:100%;display:block}.bl8_b .form_c .form_im{margin-top:30px}}








.bl13{
	position: relative;
	width: 100%;
	background: var(--bag2);
}
.bl13_c{
	position: relative;
	width: 100%;
}

.bl13_next, .bl13_prev{
	width: 54px;
	height: 54px;
	right: 30px;
	outline: none;
}
.bl13_prev{
	right: auto;
	left: 30px;
}
.bl13_next::after, .bl13_prev::after{display:none}
@media(max-width:768px){.bl13_next, .bl13_prev{top:auto;bottom:15px}}



.bl13 .swiper-slide{
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 120px 0;
}
@media(max-width:768px){.bl13 .swiper-slide{padding-top:60px}}

.bl131_c{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
@media(max-width:768px){.bl131_c{flex-direction:column-reverse}}

.bl13_l{
	position: relative;
	width: 40%;
}
@media(max-width:768px){.bl13_l{width:100%;text-align:center}}

.bl13_l .head_c{padding-top:0;padding-bottom:30px}

.bl13_r{
	position: relative;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media(max-width:768px){.bl13_r{width:100%;margin-bottom:30px}}

.bl13_ri{
	width: 100%;
	max-width: 480px;
	height: 320px;
	background-size: auto 100%;
	background-position: center center;
	background-repeat: no-repeat;	
}
@media(max-width:500px){.bl13_ri{height:240px}}
@media(max-width:375px){.bl13_ri{height:200px}}







.bl13_sw3{padding-top:60px !important}
.bl13_sw3 .head_c{
	padding-top: 0;
	padding-bottom: 30px;
}
.bl6_c{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 768px) {.bl6_c{flex-direction:column-reverse}}

.bl6_l{
	position: relative;
	width: 50%;
	padding-bottom: 60px;
}
@media(max-width:768px){.bl6_l{width:100%;padding-bottom:0}}

.bl6_lc{
	position: relative;
	width: 100%;
}
.bl6_lc p{margin-bottom:30px}


/*  */
.bl6_r{
	position: relative;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width: 768px) {
	.bl6_r{
		width: 100%;
	}
}

.bl6_ls{
	position: relative;
	display: inline-block;
	border: 1px solid var(--wh1);
	padding: 15px 0;
	border-radius: 30px;
}
.bl6_lsi{
	position: relative;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--wh1);
}
.bl6_lsi:last-child{border-bottom:0}
.bl6_lsimg{
	position: relative;
	width: 54px;
	height: 54px;
	background-size: 50% auto;
	background-position: center center;
	background-repeat: no-repeat;
}
.bl6_lsin{
	position: relative;
	width: calc(100% - 54px - 15px);
}


/*  */
.bl6_btn{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: -80px;
}
.bl6_btn2{
	position: relative;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
@media(max-width:768px){.bl6_btn{margin-top:30px}.bl6_btn2{width:100%}}
























/* block 3 */
.bl3{
	position: relative;
	width: 100%;
	padding-bottom: 60px;
}
@media(max-width:768px){.bl3{padding-bottom:84px}}

.bl3 .head_c{padding-top:80px}
@media(max-width:768px){.bl3 .head_c{padding-top:60px}}


.bl3s{
	position: relative;
	width: 100%;
	max-width:1280px;
	margin:auto;
}

.bl3_c{height:480px}
@media(max-width:768px){.bl3_c{height:320px}}

.bl3_i{
	position: relative;
	width:75% !important;
	height: 100%;
	background: var(--cm);
	transition: var(--tm);
	margin-right: 30px;
	border-radius: 30px;
	overflow: hidden;
}
@media(max-width:500px){.bl3_i{width:calc(100% - 30px) !important;margin:0 15px}}


.bl3_img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	transition: var(--tm);
	transform: scale(1);
}
.bl3_img::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--bl5);
	transition: var(--tm);
}


.bl3_ic{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 30px 45px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
@media(max-width:768px){.bl3_ic{align-items:flex-end}}
@media(max-width:500px){.bl3_ic{padding:30px}}

.bl3_ich{
	position: relative;
	width: 50%;
	color: var(--wh);
	opacity: 0;
	transition: var(--tm);
}
.swiper-slide-active .bl3_ich{opacity:1}
@media(max-width:768px){.bl3_ich{width:100%}}


.bl3_icn{
	position: absolute;
	top: 0;
	right: 30px;
	font-size: 80px;
	color: var(--wh2);
}




.bl3_prev, .bl3_next{
	width: 54px;
	height: 54px;
	right: -108px;
	outline: none;
}
.bl3_prev{
	right: auto;
	left: -108px;
}
.bl3_prev::after, .bl3_next::after{display:none}
@media (max-width: 1440px) {
	.bl3_next{right:15px}
	.bl3_prev{left:15px}
}
@media (max-width: 768px) {
	.bl3_prev, .bl3_next{
		left: 74px;
		right: 0;
		top: auto;
		bottom: -70px;
		margin: auto;
	}
	.bl3_prev{right:74px;left:0}
}


















/*  */
.bl4{
	position: relative;
	width: 100%;
	padding: 60px 0;
	transition: var(--tm);
}

.bl4_con{
	position: relative;
	width: 100%;
	max-width: 860px;
	margin: auto;
	padding: 30px 45px;
	border-radius: 30px;
	box-shadow: var(--bx05);
	transition: var(--tm);
}
@media(max-width:500px){.bl4_con{padding:30px 20px;padding-top:10px}}
@media(max-width:375px){.bl4_con{padding:20px 15px;padding-top:0}}


.bl4_con .head_c{padding-top:30px}


/*  */
.bl4_pag{
	position: relative;
	width: 100%;
	max-width: 480px;
	margin: auto;
	margin-bottom: 60px;
	border-radius: 7px !important;
	height: 7px !important;
	background: var(--gr2) !important;
	overflow: hidden;
}
.bl4_pag span{background:var(--cl) !important}

.bl4_v{
	position: relative;
	width: 100%;
	text-align: center;
	margin-bottom: 30px;
}


.bl4_clb{
	position: relative;
	width: 100%;
	height: 74px;
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.gallery-prev::after, .gallery-next::after{display:none}
.gallery-prev, .gallery-next{
	position: relative;
	display: inline-block;
	transition: var(--tm);
	opacity: 1;
	outline: none;
}
.gallery-next.swiper-button-disabled{opacity:0;visibility:hidden}
.gallery-prev.swiper-button-disabled{opacity:.3}

.gallery-send{
	position: absolute;
	bottom: 0;
	right: 50%;
	width: auto;
	height: 74px;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: var(--tm);
	transform: translateX(100%);
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.gallery-next.swiper-button-disabled ~ .gallery-send{visibility:visible;opacity:1}
















/*  */
.bl5{
	position: relative;
	width: 100%;
	padding-bottom: 60px;
}
.bl5 .head_c{padding-top:60px}
@media(max-width:500px){.bl5 .head_c{padding-top: 30px}}


.bl5_c{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
@media(max-width:1024px){.bl5_c{justify-content:space-between}}


/*  */
.bl5_i{
	position: relative;
	width: calc(100% / 3 - 30px * 2 / 3);
	height: 320px;
	border-radius: 30px;
	margin-right: 30px;
	margin-bottom: 30px;
	overflow: hidden;
	box-shadow: var(--bx2);
	transition: var(--tm);

	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
}
.bl5_i:nth-child(3n){margin-right:0}
@media(max-width:1024px){.bl5_i{width:calc(50% - 15px);margin-right:0}}
@media(max-width:768px){.bl5_i{height:280px}}
@media(max-width:500px){.bl5_i{width:100%;margin-bottom:20px}}
@media(max-width:375px){.bl5_i{height:240px;margin-bottom:15px}}
@media(max-width:320px){.bl5_i{height:200px}}





.bl5_ia{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	transition: var(--tm);
	transform: scale(1);
}
.bl5_i:hover .bl5_ia{transform:scale(1.1)}

.bl5_ia::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--bl5);
	transition: var(--tm);
}
.bl5_i:hover .bl5_ia::after{background:var(--cm1)}


.bl5_ic{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 30px;
	padding-bottom: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	z-index: 1;
}
.bl5_ict{
	position: relative;
	width: 100%;
}
.bl5_icn{
	color: var(--wh);
	font-size: 24px;
	font-weight: 800;
	text-transform: uppercase;
}
.bl5_icts{
	position: relative;
	width: 100%;
	margin-top: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.bl5_icts i{
	font-size: 11px;
	color: var(--cl);
}
.bl5_ictp{
	font-size: 14px;
	color: var(--wh);
	font-weight: 600;
}




.bl5_icb{
	width: 100%;
	height: 54px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.bl5_icbn{
	position: relative;
	width: calc(100% - 54px - 15px);
}
.bl5_ics{
	margin-bottom: 5px;
	color: var(--wh);
}
.bl5_ics span{
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
}
.bl5_ics i{
	font-size: 10px;
	margin-right: 5px;
}

.bl5_icp{
	font-size: 24px;
	font-weight: 600;
	color: var(--wh);
}
.bl5_icp i{font-size:16px}


.bl5_icbtn{
	position: relative;
	width: 54px;
	height: 54px;
	display: flex;
	justify-content: center;
	align-items: center;
}




.bl5_b{
	position: relative;
	width: 100%;
	margin-top: 30px;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media(max-width:768px){.bl5_b{flex-direction:column;padding:0}}

.bl5_b p{}
@media(max-width:768px){.bl5_b p{margin-bottom:15px;text-align:center}}







/*  */
.bl12{
	position: relative;
	width: 100%;
	padding-bottom: 60px;
	background: var(--bag2);
}
.bl12 .head_c{padding-top:60px;padding-bottom:30px}

.bl12_r2c{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.bl12_r2ci{
	position: relative;
	width: calc(50% - 15px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 30px 45px;
	margin-bottom: 30px;
	border-radius: 30px;
	border: 1px solid var(--bl1);
}
@media (max-width: 500px) {
	.bl12_r2ci{
		width: 100%;
	}
}

.bl12_r2cimg{
	position: relative;
	width: 164px;
	height: 164px;
	font-size: 48px;
	color: var(--bl8);
	background: radial-gradient(circle, var(--bl03) 50%, var(--tr) 100%);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bl12_r2cic{margin-top:15px}



.bl12_b{
	position: relative;
	width: 100%;
	max-width: 1280px;
	margin: auto;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media(max-width:768px){.bl12_b{flex-direction:column}}

.bl12_b p{}
@media(max-width:768px){.bl12_b p{margin-bottom:20px;text-align:center}}










































/*  */
.bl9{
	position: relative;
	width: 100%;
	background: var(--bag2);
	padding-bottom: 60px;
}
.bl9 .head_c{padding-top:80px}
@media(max-width:768px){.bl9 .head_c{padding-top:60px}}


.bl9_c{
	position: relative;
	width: 100%;
}
.bl9_con{
	position: relative;
	width: 100%;
}
.bl9_i{
	position: relative;
	width: calc(50% - 15px);
	height: auto;
	padding: 30px 45px;
	border-radius: 30px;
	border: 1px solid var(--bl1);
}
@media(max-width:1024px){.bl9_i{width:100%}}
@media(max-width:500px){.bl9_i{padding:30px}}
@media(max-width:320px){.bl9_i{padding:30px 15px}}

.bl9_it{margin-top:30px}
.bl9_iln{
	position: relative;
	width: 100%;
	height: 74px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 500px) {
	.bl9_iln{
		flex-direction: column;
		align-items: flex-start;
		height: auto;
	}
}

.bl9_iln2{
	position: relative;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.bl9_ilogo{
	position: relative;
	width: 74px;
	height: 74px;
	border-radius: 50%;

	background-size: cover;
	background-position: center center;
}


.bl9_ilc{
	position: relative;
	margin-left: 30px;
}
.bl9_ilname{
	font-size: 18px;
	font-weight: 600;
}
.bl9_ils{
	margin-top: 10px;
	font-size: 14px;
}
.bl9_ils i{font-size:13.4px}


.bl9_ildt{
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
@media(max-width:500px){.bl9_ildt{padding-top:10px;width:74px;justify-content:center}}
.bl9_ildt i{
	font-size: 13.4px;
	color: var(--cl);
}
@media(max-width:500px){.bl9_ildt i{font-size:11px}}





.bl9_next, .bl9_prev{
	width: 54px;
	height: 54px;
	right: -108px;
	outline: none;
}
.bl9_prev{
	right: auto;
	left: -108px;
}
.bl9_next::after, .bl9_prev::after{display:none}
@media (max-width: 1440px) {
	.bl9_next, .bl9_prev{
		left: auto;
		right: 0;
		bottom: auto;
		top: -90px;
	}
	.bl9_prev{right:74px}
}
@media (max-width: 768px) {
	.bl9_next, .bl9_prev{
		left: 74px;
		right: 0;
		top: auto;
		bottom: -70px;
		margin: auto;
	}
	.bl9_prev{right:74px;left:0}
}



.bl9_b{
	position: relative;
	width: 100%;
	padding: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media(max-width:768px){.bl9_b{flex-direction:column;padding:0;padding-top:95px;}}

.bl9_b p{}
@media(max-width:768px){.bl9_b p{margin-bottom:15px;text-align:center}}















/* block 11 */
.bl11{
	position: relative;
	width: 100%;
	padding-top: 60px;
}
.bl11_c{
	position: relative;
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}
.bl11_l{
	position: relative;
	width: 35%;
}
@media(max-width:1024px){.bl11_l{width:100%;padding-bottom:30px}}

.bl11_l .head_c{padding:0}
@media(max-width:1024px){.bl11_l .head_c{text-align:center}}

.bl11_l p{
	position: relative;
	width: 80%;
	margin-top: 30px;
	color: var(--bl8);
}
.bl11_btn{
	position: relative;
	width: 100%;
	margin-top: 30px;
}
.bl11_a{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 570px;
	margin-top: 60px;
	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
}
@media(max-width:1024px){.bl11_l p, .bl11_btn, .bl11_a{display:none}}


.bl11_r{
	position: relative;
	width: 60%;
}
@media(max-width:1024px){.bl11_r{width:100%}}

.faq {
	position: relative;
	width: 100%;
}
.faq-a {
	position: relative;
	width: 100%;
	height: 84px;
	border-radius: 20px;
	border: 1px solid var(--bl1);
	margin-bottom: 15px;
	overflow: hidden;
	cursor: pointer;
	transition: height 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.faq-act {
	transition: height 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.faq-ah{
	position: relative;
	width: 100%;
}
.faq-heading {
	position: relative;
	width: 100%;
	padding: 30px 45px;
}
@media(max-width:500px){.faq-heading{padding:30px 20px;padding-right:35px}}
@media(max-width:375px){.faq-heading{padding:30px 15px}}


.faq .faq-arrow {
	position: absolute;
	width: 14px;
	height: 14px;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 20px;
	font-size: 14px;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	transition: transform 0.8s, -webkit-transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.faq-act .faq-arrow {
	transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	transition: transform 0.8s, -webkit-transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.faq-text {
	position: relative;
	width: 100%;
	padding: 0 45px;
	padding-bottom: 30px;
	color: var(--bl);
}
@media(max-width:500px){.faq-text{padding:0 20px}}
@media(max-width:375px){.faq-text{padding:0 15px}}














/*  */
.bl10{
	position: relative;
	width: 100%;
	min-height: 780px;
	padding-top: 160px;
	overflow: hidden;
}
@media(max-width:1024px){.bl10{padding-top:60px;min-height:580px}}

.bl10_a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size:100% auto;
	background-position: center 100%;
	background-repeat: no-repeat;
	z-index: -5;
}
@media(max-width:1024px){.bl10_a{background-size:auto 100%;background-position:20% center}}


.bl10_abc{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.bl10_ab{
	position: absolute;
	z-index: -4;
	bottom: -30px;
	left: 0;
	width: 1560px;
	height: 280px;
	background-size: auto 100%;
	background-position: center center;
	background-repeat: no-repeat;
	animation: cloud_ab calc(20s * var(--bl10)) linear infinite;
}
@media(max-width:1024px){.bl10_ab{bottom:-60px}}


.bl10_c{
	position: relative;
	width: calc(100% - 60px);
	max-width: 768px;
	margin: auto;
	border-radius: 30px;
	padding: 60px 90px;
	background: var(--wh2);
	box-shadow: var(--bx4);
}
@media(max-width:500px){.bl10_c{padding:30px}}
@media(max-width:320px){.bl10_c{width:calc(100% - 30px);padding:30px 15px}}

.bl10_c::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	transition: var(--tm);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	z-index: -1;
	border-radius: 30px;
}
.bl10_c .head_c{padding:0}
.bl10_c .head_c p{margin-top:20px}
@media(max-width:375px){.bl10_c .head_c p{font-size:13.4px}}

.bl10_c .form_c{
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
@media(max-width:768px){.bl10_c .form_c{flex-direction:column}}
.bl10_c .form_im{width:calc(50% - 15px)}
@media(max-width:768px){.bl10_c .form_im{width:75%}}
@media(max-width:500px){.bl10_c .form_im{width:100%}}

.bl10_c .form_im_txt{padding:0 15px 0 0;text-align:center}
.bl10_c .form_c .form_im .btn{width:100%}































/*  */
.blc1{
	position: relative;
	width: 100%;
	padding-top: 44px;
}
@media(max-width:768px){.blc1{padding-top:0}}
@media(max-width:500px){.blc1 .head_c{padding-top:94px}}